head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(name="author" content="")
	title beginnerKit
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
	link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="css/style.css")
	link(href="img/favicon.png" rel="shortcut icon" type="image/x-icon")
	link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="js/common.js")
	