main.main

div.container
    div.row
        div.col-xs-12.col-md-6.offset-md-3.form-block
            h3.form-block__title ЧТОБЫ НАЧАТЬ ТВОРИТЬ  <span class="form-block__title_red-big">просто напишите нам</span>
            br
            form(action="#").form-register
                input(type="text" placeholder="Ваше имя *").form-register__input
                input(type="text" placeholder="Ваш e-mail *").form-register__input
                input(type="text" placeholder="Ваш номер телефона").form-register__input
                input(type="submit", value="ИЗВОЛЬТЕ НАЖАТЬ").form-register__input.form-register__input-btn 


    